.navegacao{
           
    display: inline-flex;
    align-items: center;
    height: 100px;
    text-align: right;
    background-color:#062142;
    color:#ffffff;
    margin-bottom: 30px;
  
}
img{
    height: 100px;
    width: 150px;
    padding-right: 0px !important; 
                

 }