
#btncontatoLog{
    margin-bottom: 10px;
    color:#062142;
    margin-left: 900px;;
  }
 
  .row{
     line-height: 50px;
  }
  a{
     text-decoration: none;
  }

  #btncontato{
    margin-bottom: 10px;
    color:#062142;
    text-decoration: none;
    
  }
 